<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>tabcms</title>
    <script src="assets/ejs.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/23.0.0/classic/ckeditor.js"></script>
    <style>
        #edit-wrapper {
            display: flex;
            height: calc(100vh - 40px);
        }
        #edit-wrapper > * {
            margin-left: 20px;
        }
        #edit-wrapper > *:last-child {
            margin-right: 20px;
        }
        #sidebar {
            max-width: 200px;
            width: 200px;
        }
        .sidebar-label {
            margin-bottom: 5px;
        }
        .sidebar-list {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-bottom: 10px;
        }
        .sidebar-list li {
            display: block;
        }
        .sidebar-list a {
            color: black;
            border: 1px solid black;
            display: block;
            padding: 5px 10px;
            text-decoration: none;
            transition: .2s border;
        }
        .sidebar-list li:not(:last-child) a {
            border-bottom: 0;
        }
        .sidebar-list a:hover {
            border: 1px solid blue;
        }
        #sidebar button {
            display: block;
            width: 100%;
            border: 1px solid black;
            padding: 5px 10px;
            transition: .2s border;
        }
        #sidebar button:hover {
            border: 1px solid blue;
        }
        #sidebar button:not(:last-child) {
            border-bottom: 0;
        }
        .main-form-item {
            margin-right: 10px;
            margin-bottom: 10px;
            display: inline-block;
        }
        .main-form-item label {
            display: block;
        }
        #main {
            min-width: 500px;
            max-width: 600px;
            flex-grow: 1;
        }
        .hidden {
            display: none;
        }
        .main-form-textarea {
            display: block;
        }
        .main-form-textarea textarea,
        .ck-editor__editable  {
            min-height: 300px;
        }
        .main-form-textarea textarea {
            width: 100%;
        }
        #preview {
            width: 100%;
            height: 100%;
        }
        #preview-wrapper {
            min-width: 500px;
            flex-grow: 1;
        }
    </style>
    <script>
        class MyUploadAdapter {
            constructor( loader ) {
                this.loader = loader;
            }
            upload() {
                return this.loader.file
                    .then( file => new Promise( ( resolve, reject ) => {
                        resolve( { default: "https://upload.wikimedia.org/wikipedia/commons/b/b6/Queen_Elizabeth_II_in_March_2015.jpg" } );
                    } ) );
            }
            abort() {
                // @todo wat
            }
        }
        function MyCustomUploadAdapterPlugin( editor ) {
            editor.plugins.get( 'FileRepository' ).createUploadAdapter = ( loader ) => {
                return new MyUploadAdapter( loader );
            };
        }
        var globalState = {};
        function show(element) {
            element.classList.remove("hidden");
        }
        function hide(element) {
            element.classList.add("hidden");
        }
        function ejsCallback(path, data) {
                for (var i in globalState.templates) {
                    if (globalState.templates[i].name === path) {
                        var compile = ejs.compile(globalState.templates[i].content, {client: true});
                        return compile(data, null, ejsCallback)
                    }
                }
                return `Template ${path} not found.`;
        }
        function renderPreview() {
            var data = {
                page: globalState.pages[globalState.currentPage],
            };
            var compile = ejs.compile(globalState.templates[0].content, {client: true});
            var result = compile(data, null, ejsCallback);
            document.getElementById("preview").contentWindow.document.write(result);
            document.getElementById("preview").contentWindow.document.close();
        }
        function renderSidebar() {
            pageList = document.getElementById("page-list");
            pageList.innerHTML = "";
            globalState.pages.forEach(function (page, index) {
                pageList.innerHTML += `<li><a href="#${page.title}" data-page="${index}">${page.title}</a></li>`;
            });
            templateList = document.getElementById("template-list");
            templateList.innerHTML = "";
            globalState.templates.forEach(function (template, index) {
                templateList.innerHTML += `<li><a href="#${template.name}" data-template="${index}">${template.name}</a></li>`;
            });
        }
        function openForm(type, id) {
            globalState.currentForm = type;
            if (type === "page") {
                globalState.currentPage = id;
                show(document.getElementById('page-form'));
                hide(document.getElementById('template-form'));
                var currentPage = globalState.pages[globalState.currentPage];
                globalState.editor.setData(currentPage.body);
                var title = document.getElementById("title");
                title.value = currentPage.title;
                document.getElementById("path").value = currentPage.path;
                title.focus();
            }
            else if (type === "template") {
                globalState.currentTemplate = id;
                hide(document.getElementById('page-form'));
                show(document.getElementById('template-form'));
                var currentTemplate = globalState.templates[globalState.currentTemplate];
                var template = document.getElementById("template")
                template.value = currentTemplate.content;
                document.getElementById("name").value = currentTemplate.name;
                template.focus();
            }
            renderSidebar();
        }
        function addPage(title, body, path) {
            globalState.pages.push({
                title: title,
                body: body,
                path: path,
            });
        }
        function removePage(id) {
            globalState.pages.splice(id, 1);
        }
        function updatePage(id, title, body, path) {
            globalState.pages[id] = {
                title: title,
                body: body,
                path: path,
            };
        }
        function addTemplate(name, content) {
            globalState.templates.push({
                name: name,
                content: content,
            });
        }
        function removeTemplate(id) {
            globalState.templates.splice(id, 1);
        }
        function updateTemplate(id, name, content) {
            globalState.templates[id] = {
                name: name,
                content: content,
            };
        }
        function initApp() {
            globalState = {
                "currentPage": null,
                "currentTemplate": null,
                "currentFile": null,
                "currentForm": null,
                "pages": [],
                "files": [],
                "templates": [],
            };
            return ClassicEditor
                .create( document.querySelector( '#editor' ) , {
                    extraPlugins: [ MyCustomUploadAdapterPlugin ],
                    image: {
                        resizeOptions: [
                            {
                                name: 'imageResize:original',
                                label: 'Original',
                                value: null
                            },
                            {
                                name: 'imageResize:50',
                                label: '50%',
                                value: '50'
                            },
                            {
                                name: 'imageResize:75',
                                label: '75%',
                                value: '75'
                            }
                        ],
                        toolbar: [
                            'imageResize',
                            '|',
                            'imageTextAlternative'
                        ],
                    }
                })
                .then( editor => {
                    globalState.editor = editor;
                } )
                .catch( error => {
                    console.error( error );
                } );
        }
        // Credit https://gist.github.com/peduarte/7ee475dd0fae1940f857582ecbb9dc5f
        function debounce(func) {
            var wait = arguments.length <= 1 || arguments[1] === undefined ? 100 : arguments[1];

            var timeout = void 0;
            return function () {
                var _this = this;

                for (var _len = arguments.length, args = Array(_len), _key = 0; _key < _len; _key++) {
                args[_key] = arguments[_key];
                }

                clearTimeout(timeout);
                timeout = setTimeout(function () {
                func.apply(_this, args);
                }, wait);
            };
        };
        function autoSave() {
            if (globalState.currentForm === "page") {
                var title = document.getElementById("title");
                var path = document.getElementById("path");
                updatePage(globalState.currentPage, title.value, globalState.editor.getData(), path.value);
            }
            else if (globalState.currentForm === "template") {
                var name = document.getElementById("name");
                var content = document.getElementById("template");
                updateTemplate(globalState.currentTemplate, name.value, content.value);
            }
            renderSidebar();
            renderPreview();
        };
        function initEvents() {
            document.getElementById("add-page").onclick = function () {
                addPage("Untitled", "", "untitled");
                openForm("page", globalState.pages.length - 1);
            };
            document.getElementById("add-template").onclick = function () {
                addTemplate("newTemplate", "");
                openForm("template", globalState.templates.length - 1);
            };
            document.getElementById("page-list").onclick = function (event) {
                if (event.target.dataset.page !== undefined) {
                    openForm("page", event.target.dataset.page);
                }
            };
            document.getElementById("template-list").onclick = function (event) {
                if (event.target.dataset.template !== undefined) {
                    openForm("template", event.target.dataset.template);
                }
            };
            document.getElementById("delete-page").onclick = function (e) {
                e.preventDefault();
                currentPage = globalState.pages[globalState.currentPage];
                if (globalState.pages.length === 1) {
                    alert("You must have at least one page.");
                    return;
                }
                if (confirm(`Are you sure you want to delete ${currentPage.title}?`)) {
                    removePage(globalState.currentPage);
                    openForm("page", 0);
                }
            };
            document.getElementById("delete-template").onclick = function (e) {
                e.preventDefault();
                currentTemplate = globalState.templates[globalState.currentTemplate];
                if (currentTemplate.name === "html") {
                    alert("You cannot delete the html template.");
                    return;
                }
                if (confirm(`Are you sure you want to delete ${currentTemplate.name}?`)) {
                    removeTemplate(globalState.currentTemplate);
                    openForm("template", 0);
                }
            };
            document.getElementById("open-preview").onclick = function () {
                renderPreview();
            }
            document.getElementById("expand-preview").onclick = function () {
                var button = document.getElementById("expand-preview");
                if (button.innerText === "Expand") {
                    hide(document.getElementById("sidebar"));
                    hide(document.getElementById("main"));
                } else {
                    show(document.getElementById("sidebar"));
                    show(document.getElementById("main"));
                }
                button.innerText = button.innerText === "Expand" ? "Collapse" : "Expand";
            };
            autoSaveDebounce = debounce(autoSave, 500);
            document.getElementById("title").onchange = autoSaveDebounce;
            document.getElementById("title").onkeyup = autoSaveDebounce;
            document.getElementById("path").onchange = autoSaveDebounce;
            document.getElementById("path").onkeyup = autoSaveDebounce;
            document.getElementById("name").onkeyup = autoSaveDebounce;
            document.getElementById("template").onkeyup = autoSaveDebounce;
            globalState.editor.model.document.on('change:data', autoSaveDebounce);
        }
    </script>
</head>
<body>
    <div id="edit-wrapper">
        <div id="sidebar">
            <div class="sidebar-list-label">Pages</div>
            <ul id="page-list" class="sidebar-list"></ul>
            <div class="sidebar-list-label">Templates</div>
            <ul id="template-list" class="sidebar-list"></ul>
            <button id="add-page">Add page</button>
            <button id="add-template">Add template</button>
            <button id="open-preview">Open preview</button>
            <button id="download-site">Download site</button>
        </div>
        <div id="main">
            <form id="page-form">
                <div class="main-form-item">
                    <label for="title">Title</label>
                    <input id="title" name="title" type="text"></input>
                </div>
                <div class="main-form-item">
                    <label for="path">Path</label>
                    <input id="path" name="path" type="text"></input>
                </div>
                <div class="main-form-item main-form-textarea">
                    <label for="editor">Body</label>
                    <textarea name="editor" id="editor"></textarea>
                </div>
                <button id="delete-page">Delete page</button>
            </form>
            <form id="template-form" class="hidden">
                <div class="main-form-item">
                    <label for="name">Name</label>
                    <input id="name" name="name" type="text"></input>
                </div>
                <div class="main-form-item main-form-textarea">
                    <label for="template">Template</label>
                    <textarea id="template" name="template"></textarea>
                </div>
                <button id="delete-template">Delete template</button>
            </form>
            <form id="file-form" class="hidden">
                <label for="file-text"></label>
                <textarea id="file-text" name="file-text"></textarea>
            </form>
        </div>
        <div id="preview-wrapper">
            <div>Preview <button id="expand-preview">Expand</button></div>
            <iframe id="preview"></iframe>
        </div>
    </div>
    <script>
        initApp().then(function () {
            initEvents();
            addTemplate("html", `<!DOCTYPE html>
<html dir="ltr" lang="en">
    <meta charset="utf-8" />
    <head>
        <title><%= page.title %></title>
    </head>
    <body>
        <%- include("header", {page: page}); %>
        <%- include("main", {page: page}); %>
        <%- include("footer", {page: page}); %>
    </body>
</html>`);
            addTemplate("header", `<header>
</header>`);
            addTemplate("footer", `<footer>

</footer>`);
            addTemplate("main", `<main>
<h1><%= page.title %></h1>
<%- page.body %>
</main>`);
            document.getElementById("add-page").click();
        });
    </script>
</body>
</html>
