<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>tabcms</title>
    <script src="assets/ejs.min.js"></script>
    <script src="assets/localforage.min.js"></script>
    <script src="assets/jszip.min.js"></script>
    <script src="assets/ckeditor.js"></script>
    <style>
        #edit-wrapper {
            display: flex;
            height: calc(100vh - 40px);
        }
        #edit-wrapper > * {
            margin-left: 20px;
        }
        #edit-wrapper > *:last-child {
            margin-right: 20px;
        }
        #sidebar {
            max-width: 200px;
            min-width: 200px;
            max-height: 100vh;
            overflow-y: auto;
            padding-right: 5px;
        }
        .sidebar-label {
            margin-bottom: 5px;
        }
        .sidebar-list {
            list-style: none;
            padding: 0;
            margin: 0;
            margin-bottom: 10px;
        }
        .sidebar-list li {
            display: block;
        }
        .sidebar-list a {
            color: black;
            border: 1px solid black;
            display: block;
            padding: 5px 10px;
            text-decoration: none;
            transition: .2s border;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        .sidebar-list li:not(:last-child) a {
            border-bottom: 0;
        }
        .sidebar-list a:hover {
            border: 1px solid blue;
        }
        #sidebar button {
            display: block;
            width: 100%;
            border: 1px solid black;
            padding: 5px 10px;
            transition: .2s border;
        }
        #sidebar button:hover {
            border: 1px solid blue;
        }
        #sidebar button:not(:last-child) {
            border-bottom: 0;
        }
        .main-form-item {
            margin-right: 10px;
            margin-bottom: 10px;
            display: inline-block;
        }
        .main-form-item label {
            display: block;
        }
        #main {
            width: 600px;
            max-width: 600px;
            flex-grow: 1;
        }
        .hidden {
            display: none;
        }
        .main-form-textarea {
            display: block;
        }
        .main-form-textarea textarea,
        .ck-editor__main > .ck-editor__editable  {
            min-height: 300px;
        }
        .main-form-textarea textarea {
            width: 100%;
        }
        #preview {
            width: 100%;
            height: 100%;
        }
        #preview-wrapper {
            min-width: 500px;
            flex-grow: 1;
        }
        #file-preview img {
            max-width: 100%;
            height: auto;
        }
        #file-name,
        #file-usage,
        #file-preview {
            margin-bottom: 10px;
        }
        #file-usage ul {
            padding: 0;
            margin: 10px 30px;
        }
        #file-name {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
    <script>
        class MyUploadAdapter {
            constructor( loader ) {
                this.loader = loader;
            }
            upload() {
                return this.loader.file
                    .then( file => new Promise( ( resolve, reject ) => {
                        globalState.files.push(file);
                        resolve( { default: window.URL.createObjectURL(file) + `#filename=${file.name}` } );
                    } ) );
            }
            abort() {
                // @todo wat
            }
        }
        function MyCustomUploadAdapterPlugin( editor ) {
            editor.plugins.get( 'FileRepository' ).createUploadAdapter = ( loader ) => {
                return new MyUploadAdapter( loader );
            };
        }
        var globalState = {};
        var globalEditor;
        function show(element) {
            element.classList.remove("hidden");
        }
        function hide(element) {
            element.classList.add("hidden");
        }
        function ejsCallback(path, data) {
                var templates = getTemplates();
                for (var i in templates) {
                    if (templates[i].name === path) {
                        var compile = ejs.compile(templates[i].content, {client: true});
                        return compile(data, null, ejsCallback)
                    }
                }
                return `Template ${path} not found.`;
        }
        function replaceAssetUrls(html) {
            for (var match of html.matchAll(/"(blob[^"]+#filename=([^"]+))"/g)) {
                var oldUrl = match[1];
                var filename = match[2];
                html = html.replace(oldUrl, "/assets/" + filename);
            }
            return html;
        }
        function renderPage(id) {
            var data = {
                page: getPage(id),
            };
            var compile = ejs.compile(getTemplate(0).content, {client: true});
            return compile(data, null, ejsCallback);
        }
        function renderPreview(id) {
            var result = renderPage(id);
            document.getElementById("preview").contentWindow.document.open();
            document.getElementById("preview").contentWindow.document.write(result);
            document.getElementById("preview").contentWindow.document.close();
            document.getElementById("preview").contentWindow.document.body.onclick = function (e) {
                var target = e.target;
                if (typeof target.href !== "string") {
                    return;
                }
                e.preventDefault();
                alert("Navigation is disabled in the preview.");
                // var wasLocal = false;
                // var path = sanitizePath(target.getAttribute("href"));
                // var pages = getPages();
                // for (var i in pages) {
                //     if (sanitizePath(pages[i].path) === path) {
                //         renderPreview(i);
                //         wasLocal = true;
                //         break;
                //     }
                // }
                // if (!wasLocal) {
                //     alert("External navigation is disabled in the preview.");
                // }
            };
        }
        function renderSidebar() {
            pageList = document.getElementById("page-list");
            pageList.innerHTML = "";
            getPages().forEach(function (page, index) {
                pageList.innerHTML += `<li><a href="#main" data-page="${index}">${page.title}</a></li>`;
            });
            templateList = document.getElementById("template-list");
            templateList.innerHTML = "";
            getTemplates().forEach(function (template, index) {
                templateList.innerHTML += `<li><a href="#main" data-template="${index}">${template.name}</a></li>`;
            });
            fileList = document.getElementById("file-list");
            fileList.innerHTML = "";
            var files = getFiles();
            files.forEach(function (file, index) {
                fileList.innerHTML += `<li><a href="#main" data-file="${index}">${file.name}</a></li>`;
            });
            if (!files.length) {
                fileList.innerHTML = "No files uploaded."
            }
        }
        function openForm(type, id) {
            globalState.currentForm = type;
            if (type === "page") {
                globalState.currentPage = id;
                show(document.getElementById('page-form'));
                hide(document.getElementById('file-form'));
                hide(document.getElementById('template-form'));
                var currentPage = getPage(globalState.currentPage);
                globalEditor.setData(currentPage.body);
                var title = document.getElementById("title");
                title.value = currentPage.title;
                document.getElementById("path").value = currentPage.path;
                title.focus();
            }
            else if (type === "template") {
                globalState.currentTemplate = id;
                hide(document.getElementById('page-form'));
                hide(document.getElementById('file-form'));
                show(document.getElementById('template-form'));
                var currentTemplate = getTemplate(globalState.currentTemplate);
                var template = document.getElementById("template")
                template.value = currentTemplate.content;
                document.getElementById("name").value = currentTemplate.name;
                template.focus();
            }
            else if (type === "file") {
                globalState.currentFile = id;
                hide(document.getElementById('page-form'));
                show(document.getElementById('file-form'));
                hide(document.getElementById('template-form'));
                var currentFile = getFile(globalState.currentFile);
                var preview = document.getElementById("file-preview");
                if (currentFile.name.match(/(png|jpg|jpeg|gif|svg|webp)$/)) {
                    preview.innerHTML = `<img src="${window.URL.createObjectURL(currentFile)}"></img>`;
                } else {
                    preview.innerHTML = "";
                }
                document.getElementById("file-name").innerText = currentFile.name;
                var usageHTML = "";
                var pages = getPages();
                for (var i in pages) {
                    if (pages[i].body.match(currentFile.name)) {
                        usageHTML += `<li>${pages[i].title}</li>`
                    }
                }
                if (usageHTML.length) {
                    usageHTML = `<div>File is used by the following pages:</div><ul>${usageHTML}</ul>`
                }
                document.getElementById("file-usage").innerHTML = usageHTML;
            }
            renderSidebar();
        }
        function getPage(id) {
            return globalState.pages[id];
        }
        function getPages() {
            return globalState.pages;
        }
        function addPage(title, body, path) {
            globalState.pages.push({
                title: title,
                body: body,
                path: path,
            });
        }
        function removePage(id) {
            globalState.pages.splice(id, 1);
        }
        function updatePage(id, title, body, path) {
            globalState.pages[id] = {
                title: title,
                body: body,
                path: path,
            };
        }
        function getTemplate(id) {
            return globalState.templates[id];
        }
        function getTemplates() {
            return globalState.templates;
        }
        function addTemplate(name, content) {
            globalState.templates.push({
                name: name,
                content: content,
            });
        }
        function removeTemplate(id) {
            globalState.templates.splice(id, 1);
        }
        function updateTemplate(id, name, content) {
            globalState.templates[id] = {
                name: name,
                content: content,
            };
        }
        function getFile(id) {
            return globalState.files[id];
        }
        function getFiles() {
            return globalState.files;
        }
        function addFile(file) {
            globalState.files.push(file);
        }
        function removeFile(id) {
            globalState.files.splice(id, 1);
        }
        function initApp() {
            globalState = {
                "currentPage": null,
                "currentTemplate": null,
                "currentFile": null,
                "currentForm": null,
                "pages": [],
                "files": [],
                "templates": [],
            };
            return ClassicEditor
                .create( document.querySelector( '#editor' ) , {
                    extraPlugins: [ MyCustomUploadAdapterPlugin ],
                    image: {
                        resizeOptions: [
                            {
                                name: 'imageResize:original',
                                label: 'Original',
                                value: null
                            },
                            {
                                name: 'imageResize:50',
                                label: '50%',
                                value: '50'
                            },
                            {
                                name: 'imageResize:75',
                                label: '75%',
                                value: '75'
                            }
                        ],
                        toolbar: [
                            'imageResize',
                            '|',
                            'imageTextAlternative',
                            '|',
                            'linkImage',
                        ],
                    },
                    toolbar: {
                        items: [
                            'heading',
                            '|',
                            'bold',
                            'italic',
                            'underline',
                            'link',
                            'bulletedList',
                            'numberedList',
                            'alignment',
                            '|',
                            'imageInsert',
                            'mediaEmbed',
                            '|',
                            'indent',
                            'outdent',
                            'blockQuote',
                            'insertTable',
                            '|',
                            'strikethrough',
                            'subscript',
                            'superscript',
                            '|',
                            'code',
                            'codeBlock',
                            '|',
                            'removeFormat',
                        ],
                    },
                    language: 'en',
                    table: {
                        contentToolbar: [
                            'tableColumn',
                            'tableRow',
                            'mergeTableCells'
                        ]
                    },
                })
                .then( editor => {
                    globalEditor = editor;
                } )
                .catch( error => {
                    console.error( error );
                } );
        }
        // Credit https://gist.github.com/peduarte/7ee475dd0fae1940f857582ecbb9dc5f
        function debounce(func) {
            var wait = arguments.length <= 1 || arguments[1] === undefined ? 100 : arguments[1];

            var timeout = void 0;
            return function () {
                var _this = this;

                for (var _len = arguments.length, args = Array(_len), _key = 0; _key < _len; _key++) {
                args[_key] = arguments[_key];
                }

                clearTimeout(timeout);
                timeout = setTimeout(function () {
                func.apply(_this, args);
                }, wait);
            };
        };
        function storeState() {
            localforage.setItem("globalState", globalState);
        }
        function autoSave() {
            if (globalState.currentForm === "page") {
                var title = document.getElementById("title");
                var path = document.getElementById("path");
                updatePage(globalState.currentPage, title.value, globalEditor.getData(), path.value);
            }
            else if (globalState.currentForm === "template") {
                var name = document.getElementById("name");
                var content = document.getElementById("template");
                updateTemplate(globalState.currentTemplate, name.value, content.value);
            }
            renderSidebar();
            renderPreview(globalState.currentPage);
            storeState();
        };
        function sanitizePath(path) {
            path = path.replace(/^[\/]+|[\/]+$/g, '');
            path = path.replace(/(\/)\/+/g, '$1');
            path = path.replace(/\./g, '');
            return path;
        }
        function resetSite() {
            globalState = {
                "currentPage": null,
                "currentTemplate": null,
                "currentFile": null,
                "currentForm": null,
                "pages": [],
                "files": [],
                "templates": [],
            };
            addTemplate("html", `<!DOCTYPE html>
<html dir="ltr" lang="en">
    <meta charset="utf-8" />
    <head>
        <title><%= page.title %></title>
    </head>
    <body>
        <%- include("header", {page: page}); %>
        <%- include("main", {page: page}); %>
        <%- include("footer", {page: page}); %>
    </body>
</html>`);
            addTemplate("header", `<header>
</header>`);
            addTemplate("footer", `<footer>

</footer>`);
            addTemplate("main", `<main>
<h1><%= page.title %></h1>
<%- page.body %>
</main>`);
            document.getElementById("add-page").click();
        }
        function uploadSite() {
            var input = document.createElement("input");
            input.type = "file";
            input.accept = "application/zip";
            input.onchange = function () {
                var zip = new JSZip();
                zip.loadAsync(this.files[0]).then(function (zip) {
                    var json = zip.file("site.json").async("string").then(function (content) {
                        try {
                            var processed = JSON.parse(content);
                        }
                        catch (e) {
                            alert("Unable to parse site.json");
                            return;
                        }
                        if (!confirm("Importing this archive will erase your current site, are you sure you want to proceed?")) {
                            return;
                        }
                        globalState = processed;
                        globalState.files = [];
                        var promises = [];
                        for (var i in zip.files) {
                            if (!i.match(/^www\/assets/)) {
                                continue;
                            }
                            var file = zip.file(i);
                            if (!file) {
                                continue;
                            }
                            var promise = file.async("blob")
                            promises.push(promise);
                            promise.then((function() {
                                var filename = i.replace(/.*\//, '');
                                return function (content) {
                                    globalState.files.push(new File([content], filename));
                                }
                            })());
                        }
                        Promise.all(promises).then((values) => {
                            storeState();
                            reloadObjectUrls();
                            renderSidebar();
                            openForm("page", globalState.currentPage);
                            renderPreview(globalState.currentPage);
                        });
                    });
                    if (json === null) {
                        alert("No site.json found in archive.");
                        return;
                    }
                });
            };
            input.click();
        }
        function downloadSite() {
            var zip = new JSZip();
            zip.file("site.json", JSON.stringify(globalState));
            var www = zip.folder("www");
            files = getFiles();
            for (var i in files) {
                www.file("assets/" + files[i].name, files[i]);
            }
            pages = getPages();
            for (i in pages) {
                var html = replaceAssetUrls(renderPage(i));
                var path = sanitizePath(pages[i].path);
                www.file(path + "/index.html", html);
            }
            zip.generateAsync({type:"blob"})
                .then(function(content) {
                    // Credit to https://blog.logrocket.com/programmatic-file-downloads-in-the-browser-9a5186298d5c/
                    var url = URL.createObjectURL(content);
                    var a = document.createElement('a');
                    a.href = url;
                    a.download = "tabcms.zip";
                    var clickHandler = () => {
                        setTimeout(() => {
                            URL.revokeObjectURL(url);
                            this.removeEventListener('click', clickHandler);
                        }, 150);
                    };
                    a.addEventListener('click', clickHandler, false);
                    a.click();
                });
        }
        function initEvents() {
            document.getElementById("add-page").onclick = function () {
                addPage("Untitled", "", "untitled");
                openForm("page", getPages().length - 1);
            };
            document.getElementById("add-template").onclick = function () {
                addTemplate("newTemplate", "");
                openForm("template", getTemplates().length - 1);
            };
            document.getElementById("page-list").onclick = function (event) {
                if (event.target.dataset.page !== undefined) {
                    openForm("page", event.target.dataset.page);
                }
            };
            document.getElementById("template-list").onclick = function (event) {
                if (event.target.dataset.template !== undefined) {
                    openForm("template", event.target.dataset.template);
                }
            };
            document.getElementById("file-list").onclick = function (event) {
                if (event.target.dataset.file !== undefined) {
                    openForm("file", event.target.dataset.file);
                }
            };
            document.getElementById("delete-page").onclick = function (e) {
                e.preventDefault();
                currentPage = getPage(globalState.currentPage);
                if (getPages().length === 1) {
                    alert("You must have at least one page.");
                    return;
                }
                if (confirm(`Are you sure you want to delete ${currentPage.title}?`)) {
                    removePage(globalState.currentPage);
                    openForm("page", 0);
                    storeState();
                }
            };
            document.getElementById("delete-template").onclick = function (e) {
                e.preventDefault();
                currentTemplate = getTemplate(globalState.currentTemplate);
                if (currentTemplate.name === "html") {
                    alert("You cannot delete the html template.");
                    return;
                }
                if (confirm(`Are you sure you want to delete ${currentTemplate.name}?`)) {
                    removeTemplate(globalState.currentTemplate);
                    openForm("template", 0);
                    storeState();
                }
            };
            document.getElementById("expand-preview").onclick = function () {
                var button = document.getElementById("expand-preview");
                if (button.innerText === "Expand") {
                    hide(document.getElementById("sidebar"));
                    hide(document.getElementById("main"));
                } else {
                    show(document.getElementById("sidebar"));
                    show(document.getElementById("main"));
                }
                button.innerText = button.innerText === "Expand" ? "Collapse" : "Expand";
            };
            document.getElementById("delete-file").onclick = function (e) {
                e.preventDefault();
                currentFile = getFile(globalState.currentFile);
                if (confirm(`Are you sure you want to delete ${currentFile.name}?`)) {
                    removeFile(globalState.currentFile);
                    openForm("page", 0);
                    storeState();
                }
            };
            document.getElementById("download-site").onclick = function (e) {
                downloadSite();
            };
            document.getElementById("reset-site").onclick = function (e) {
                resetSite();
            };
            document.getElementById("upload-site").onclick = function (e) {
                uploadSite();
            };
            autoSaveDebounce = debounce(autoSave, 500);
            document.getElementById("title").onchange = autoSaveDebounce;
            document.getElementById("title").onkeyup = autoSaveDebounce;
            document.getElementById("path").onchange = autoSaveDebounce;
            document.getElementById("path").onkeyup = autoSaveDebounce;
            document.getElementById("name").onkeyup = autoSaveDebounce;
            document.getElementById("template").onkeyup = autoSaveDebounce;
            globalEditor.model.document.on('change:data', autoSaveDebounce);
        }
        function reloadObjectUrls() {
            for (var i in globalState.pages) {
                for (var match of globalState.pages[i].body.matchAll(/"(blob[^"]+#filename=([^"]+))"/g)) {
                    var oldUrl = match[1];
                    var filename = match[2];
                    var file;
                    for (var j in globalState.files) {
                        if (globalState.files[j].name === filename) {
                            file = globalState.files[j];
                            break;
                        }
                    }
                    if (!file) {
                        continue;
                    }
                    globalState.pages[i].body = globalState.pages[i].body.replace(oldUrl, window.URL.createObjectURL(file) + `#filename=${file.name}`);
                }
            }
        }
    </script>
</head>
<body>
    <div id="edit-wrapper">
        <div id="sidebar">
            <div class="sidebar-list-label">Pages</div>
            <ul id="page-list" class="sidebar-list"></ul>
            <div class="sidebar-list-label">Templates</div>
            <ul id="template-list" class="sidebar-list"></ul>
            <div class="sidebar-list-label">Files</div>
            <ul id="file-list" class="sidebar-list"></ul>
            <button id="add-page">Add page</button>
            <button id="add-template">Add template</button>
            <button id="download-site">Download site</button>
            <button id="upload-site">Upload site</button>
            <button id="reset-site">Reset site</button>
        </div>
        <div id="main">
            <form id="page-form">
                <div class="main-form-item">
                    <label for="title">Title</label>
                    <input id="title" name="title" type="text"></input>
                </div>
                <div class="main-form-item">
                    <label for="path">Path</label>
                    <input id="path" name="path" type="text"></input>
                </div>
                <div class="main-form-item main-form-textarea">
                    <label for="editor">Body</label>
                    <textarea name="editor" id="editor"></textarea>
                </div>
                <button id="delete-page">Delete page</button>
            </form>
            <form id="template-form" class="hidden">
                <div class="main-form-item">
                    <label for="name">Name</label>
                    <input id="name" name="name" type="text"></input>
                </div>
                <div class="main-form-item main-form-textarea">
                    <label for="template">Template</label>
                    <textarea id="template" name="template"></textarea>
                </div>
                <button id="delete-template">Delete template</button>
            </form>
            <form id="file-form" class="hidden">
                <div id="file-preview"></div>
                <div id="file-name"></div>
                <div id="file-usage"></div>
                <button id="delete-file">Delete file</button>
            </form>
        </div>
        <div id="preview-wrapper">
            <div>Preview <button id="expand-preview">Expand</button></div>
            <iframe id="preview"></iframe>
        </div>
    </div>
    <script>
        initApp().then(function () {
            initEvents();
            storedState = localforage.getItem("globalState").then(function(value) {
                if (value) {
                    globalState = value;
                    reloadObjectUrls();
                    renderSidebar();
                    renderPreview(globalState.currentPage);
                    openForm("page", 0);
                    return;
                }
                // Otherwise set up some defaults.
                resetSite();
            }).catch(function(err) {
                // @todo error
            });
        });
    </script>
</body>
</html>
