body {
  font-family: Arial, Helvetica, sans-serif;
}

#tabcms-title {
  font-size: 20px;
  padding: 10px 20px 20px 20px;
  margin: 0;
}

#tabcms-title a {
  color: blue;
  text-decoration: none;
}

#tabcms-title a:hover {
  text-decoration: underline;
}

#edit-wrapper {
  display: flex;
}

#edit-wrapper > * {
  margin-left: 20px;
}

#edit-wrapper > *:last-child {
  margin-right: 20px;
}

#sidebar {
  max-width: 200px;
  min-width: 200px;
  overflow-y: auto;
  padding-right: 5px;
}

.sidebar-list-label,
#main form label {
  margin-bottom: 2px;
}

#preview-label {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5px;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.sidebar-list li {
  display: block;
}

.sidebar-list a {
  font-size: 14px;
  color: black;
  border: 1px solid black;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.2s background;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar-list li:not(:last-child) a {
  border-bottom: 0;
}

.sidebar-list a:hover,
.sidebar-list a:focus {
  background: #e8e8e8;
}

.tcms-button {
  border: 1px solid black;
  background: #f1f4fa;
  padding: 5px 10px;
  transition: 0.2s background;
}

.tcms-button:hover,
.tcms-button:focus {
  background: #e8e8e8;
}

#sidebar .tcms-button {
  display: block;
  width: 100%;
}

#sidebar .tcms-button:not(:last-child) {
  border-bottom: 0;
}

#expand-preview {
  margin-left: 5px;
}

.main-form-item {
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

.main-form-item label {
  display: block;
}

#main {
  width: 600px;
  max-width: 600px;
  flex-grow: 1;
}

#main form input[type="text"] {
  border: 1px solid black;
  font-size: 14px;
  padding: 5px 8px;
}

.hidden {
  display: none !important;
}

.main-form-textarea {
  display: block;
}

.main-form-textarea textarea,
.ck-editor__main > .ck-editor__editable {
  min-height: 300px;
}

.main-form-textarea textarea {
  width: 100%;
}

#preview {
  width: 100%;
  height: 100%;
}

#preview-wrapper {
  min-width: 500px;
  flex-grow: 1;
}

#file-preview img {
  max-width: 100%;
  height: auto;
}

#file-usage:not(:empty),
#file-preview:not(:empty) {
  margin-bottom: 10px;
}

#file-usage ul {
  padding: 0;
  margin: 10px 30px;
}

#file-name {
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-item-file-name,
#file-name {
  width: calc(100% - 16px);
}

.description {
  margin-top: 0;
  font-size: 12px;
}

#github-link {
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 30px;
  text-decoration: none;
  color: blue;
}

#github-link:hover {
  text-decoration: underline;
}

.shepherd-arrow:before,
.shepherd-element {
  background: #f0f0f0;
}

.shepherd-button {
  font-weight: bold;
  color: white;
}
